.DS_Store
.idea
CollectionViewLayoutKit.xcworkspace/xcshareddata
CollectionViewLayoutKit.xcworkspace/xcuserdata
CollectionViewLayoutKit/CollectionViewLayoutKit.xcodeproj/project.xcworkspace/xcshareddata
CollectionViewLayoutKit/CollectionViewLayoutKit.xcodeproj/project.xcworkspace/xcuserdata
CollectionViewLayoutKit/CollectionViewLayoutKit.xcodeproj/xcuserdata
CollectionViewLayoutKitExample/CollectionViewLayoutKitExample.xcodeproj/project.xcworkspace/xcshareddata
CollectionViewLayoutKitExample/CollectionViewLayoutKitExample.xcodeproj/project.xcworkspace/xcuserdata
CollectionViewLayoutKitExample/CollectionViewLayoutKitExample.xcodeproj/xcuserdata
